.rodape {
    background-color: var(--branco);
}
.rodape__texto {
    padding: 1.5em;
}
hr {
    margin: 0px;
}

.rodape__lista {
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 2em 1em 3em 1em;
    }
    .rodape__lista {
        display: block;
    }
    .rodape__lista--titulo {
        padding: 3em 0 2em 0;
        text-transform: uppercase;
        font-size: 14px;
        color: var(--cinza-secundario);
        
    }
    .rodape__lista--link {
        text-decoration: none;
        padding-left: 0.5em;
        color: var(--cinza-primario);
        font-size: 14px;
        font-weight: 400;
    }
    .rodape__lista--item {
        display: flex;
        padding: 0.5em 0;
        align-items: center;
    }

    .rodape__texto {
        font-size: 24px;
        font-weight: 400;
        padding: 1.5em 4em 0 0;
    }    
}

@media screen and (min-width: 1728px) {
    .rodape{
        padding: 4em 10vw 3em 10vw;
    }

    .rodape__lista {
        border-left: 1px solid var(--cinza-primario);
        padding-left: 1em;
    }
    .rodape__lista--titulo {
        padding: 0em 0 2em 0;
    }
    .rodape__texto {
        padding: 0em 4em 0 0;  
    }

}