.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../src/img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~ .cabecalho__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(./img/Menu\ Aberto.svg);
}

.container__botao:checked~ .cabecalho__rotulo:hover {
    background: var(--azul-degrade);
}

.cabecalho__rotulo {
    padding: 0.5em;
}

.cabecalho {
    background-color: var(--branco);
    font-family: var(--poppins);
    display:flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.cabecalho__imagem {
    padding: 1em 0.5em;
}
.container__botao:checked~ .lista-menu {
    display: block;
}

.container {
    display: flex;
    align-items: center;
}
.container__botao {
    display: none;
}
.cabecalho__menu--imagem {
    padding: 1em;
}
.lista-menu {
    display: none;
    position: absolute;
    top:100%; 
    width: 60vw;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    
}
.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
    font-size: 1rem;
}
.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);  
}
.lista-menu__link {
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.cabecalho__texto {
    display: none;
}



@media screen and (min-width:1024px) {

.cabecalho {
    padding: 0px 10px;
    justify-content: space-around;
}    
.cabecalho__menu-hamburguer {
    display: none;
}
.cabecalho_imagem--favoritos {
    display: none;
}

.cabecalho__menu {
    display: flex;
    gap: 45px;
}
    
.container__titulo {
    display: block;
    margin: 0 0.5em;
}
.container__titulo--negrito {
    font-size: 30px;
    font-weight: 700;

}
.container__titulo {
    font-family: var(--Josefin-sans);
    color: var(--preto);
    font-size: 30px;
    font-weight: 400;
}
.opcoes {
    display:flex;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 2em;
}

.opcoes__botao:checked~ .opcoes__rotulo> .opcoes__item {
    background: var(--azul-degrade);
    color: var(--branco);   
}

.lista-menu__item:hover {
    background: var(--azul-degrade);
}

.lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco)
}

.opcoes__item {
    font-family: var(--poppins);
    color: var(--preto);
    font-weight: 400; 
    padding: 2em 1em;
}

.opcoes__link {
    text-decoration: none;
    color: var(--preto);
    font-weight: 400;
}
.opcoes__botao:checked ~ .lista-menu {
    display: block;
    width:  auto;
  
}
.opcoes__botao {
    display: none;
}

.cabecalho__texto {
    display: none;
}

.container__botao {
    display: none;   
}

}

@media screen and (min-width:1728px) {

    .cabecalho__menu--link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho__menu--imagem {
        padding-left:  0.5em;
    }

    .cabecalho {
        padding: 0 20px;
    }

    .opcoes {
        margin-right: auto;
    }

    .cabecalho__texto {
        display: block;
    }
}