.visitados{
    background-image: var(--azul-degrade);
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    gap: 0.5em;
}
.visitados__titulo {
    color: var(--branco);
    font-family: var(--poppins);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 0.5em;
}
.visitados__ancoras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    margin: 1em;
}
.visitados__ancora {
    text-decoration: none;
    background-color: var(--laranja);
    color: var(--branco);
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 700;
    padding: 16px 24px;  
    display: flex;
    align-items: center;
}

@media screen and (min-width:1024px) {

.visitados {
    
}

.visitados__titulo {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 1em;
}    

.visitados__ancora {
    font-size: 24px;
    padding: 24px 32px;
     
}
.visitados__ancoras {
    gap: 24px; 
}
}